@import url('https://fonts.googleapis.com/css?family=Ubuntu');
* {
  box-sizing: border-box;
}
/* Body centers the column at 100 vh and hide scrollbars */
body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.bg {
  background: url('https://images.unsplash.com/photo-1588001832198-c15cff59b078?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
    no-repeat center center/cover;
  /* background: url('https://images.unsplash.com/photo-1597637259947-f461f345c19e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80')
    no-repeat center center/cover; */
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}
.buttonUrl {
  color: green;
}
.heading{
    text-align: center;
    color: whitesmoke;
    padding:10px;
    margin:30px 0px;
    font-size: 64px;
}